@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Nord Theme */
:root {
  --dark-1:  #2E3440;
  --dark-2:  #3B4252;
  --dark-3:  #434C5E;
  --dark-4:  #4C566A;
  --light-1: #D8DEE9;
  --light-2: #E5E9F0;
  --light-3: #ECEFF4;
  --frost-1: #8FBCBB;
  --frost-2: #88C0D0;
  --frost-3: #81A1C1;
  --frost-4: #5E81AC;
  --red:     #BF616A;
  --orange:  #D08770;
  --yellow:  #EBCB8B;
  --green:   #A3BE8C;
  --magenta: #B48EAD;

  --orange-dark: #BE7A65;
}

body, html {
  margin: 0;
  background-color: var(--light-3);
  color: var(--dark-1);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
}

a {
  color: var(--dark-1);
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.main {
  display: flex;
  align-items: flex-start;
  margin: 15px 0;
  gap: 20px;
}

#sketch {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  background-color: var(--dark-4);
  padding: 15px;
  border-radius: 5px;
}

.sketch__square {
  box-sizing: border-box;
  border: 1px solid var(--dark-2);
  background-color: var(--light-3);
}

.sketch__square--black {
  background-color: var(--dark-1);
}

.sketch__square--red {
  background-color: var(--red);
}

.sketch__square--orange {
  background-color: var(--orange);
}

.sketch__square--yellow {
  background-color: var(--yellow);
}

.sketch__square--green {
  background-color: var(--green);
}

.sketch__square--blue {
  background-color: var(--frost-4);
}

.sketch__square--magenta {
  background-color: var(--magenta);
}

.control-divs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.control-div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.13), 0 6px 20px 0 rgba(0, 0, 0, 0.13);
}

.btn {
  border: 1px solid var(--frost-4);
  border-radius: 5px;
  font-size: 1.1em;
  background-color: var(--frost-4);
  color: var(--light-3);
  padding: 4px 10px;
}

.btn:hover {
  background-color: var(--frost-3);
  border-color: var(--frost-3);
}

.btn:active {
  transform: scale(1.07);
}

.btn--inactive {
  color: var(--frost-4);
  background-color: rgba(0, 0, 0, 0);
  border-color: var(--frost-4);
}

.btn--inactive:hover {
  background-color: var(--light-1);
  border-color: var(--frost-4);
}

.controls__clear {
  --color: var(--orange-dark);
  background-color: var(--color);
  border-color: var(--color);
}

.controls__clear:hover {
  --color: var(--orange);
  background-color: var(--color);
  border-color: var(--color);
}

